*{
  

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
    font-family: "Overpass", sans-serif;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;  
    background-size: cover;
       background-image: url("orenge.jpg");
   }
header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.logo{
    
    
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fa8a13;
}
.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}






section {
    max-width: 400px;
    margin: 200px auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #fb911f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d87710;
}

footer {
    text-align: center;
    margin-top: 2px;
    color: #333;
}
header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}
